extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9


        h1 Jax Taylor


        p.lead.text-light
          | Full Stack JavaScript Developer and IT Lead Project Manager for US Care Associates and The Narrow Path.


        .portfolio-bio
          p Hi! I’m from Washington DC and I went to George Mason University, where I studied Computer Science. After college, I moved to Florida and began working at a medical company called US Care Associates; which oversees multiple other companies that I provide technical support for. During my tenure here I’ve employed the skills I was taught classically, as well as, having picked up a few new skills such as: coding in salesforce with Apex, creating Progressive Web Apps, SEO Marketing, and Penetration Testing. I like to be a Jax of all trades so outside of work I continue my studies online, when I’m not spending time with family or my girlfriend... Or playing Grand Theft Auto...
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills


        ul
          li Express
          li Python
          li React
          li Bootstrap
          li Pug 
          li Java
          li JavaScript

        h6 Contact Info

        ul
          li 703-638-4287
          li jaxtaylor1472@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/jax-taylor-b5906218a/') LinkedIn
        a.button.expanded(href='https://github.com/jaxyt') GitHub
        a.button.expanded(href='https://twitter.com/jaxyt49?lang=en') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  