extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div


      h1 Hey, Thanks For Visiting My Site!


      p.lead.text-light
        | A small gallery of Projects I've worked on
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3


      each project in projects
        div(class="cell")
          a(href=`http://localhost:3000/projects/${project["id"]}`)
            img.thumbnail(src=`${project["image_urls"][0]}`)
            h5= project["project_name"]

      
